<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Battleship</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	    
	    <style type="text/css">
	    	body { padding-top: 50px; }
			.top-50 { margin-top: 50px; }
	    </style>
	
	</head>

	<body >

		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="#">Battleship</a>
		        </div>
		    </div>
		</div>

		<div class="container">
		    <div class="row top-50">
		        <div class="col-md-4"></div>
		        <div class="col-md-4 text-center">
		        </div>
		        <div class="col-md-4"></div>
		    </div>
		</div>

	</body>

</html>
